<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foxyourprivacy.f0x1t"
    android:versionCode="3"
    android:versionName="0.9">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:name=".FoxITApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_scaled_medium_s"
        android:label="@string/app_name"
        android:minSdkVersion="17"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="BackgroundService"
            android:icon="@drawable/back"
            android:label="@string/app_name"
            >
        </service>

        <activity android:name=".Activities.Analysis" />
        <activity
            android:name=".Activities.StartScreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.LectionActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.LectionListActivity" />
        <activity android:name=".Activities.ClassListActivity" />
        <activity android:name=".Activities.TrophyRoomActivity" />
        <activity android:name=".Activities.OnboardingActivity" />
        <activity android:name=".Activities.AnimationLauncher" />
        <activity android:name=".Activities.SettingsActivity" />

    </application>
</manifest>
