<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bp"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_scaled_medium_s"
        android:label="@string/app_name"
        android:minSdkVersion="17"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Analysis" />
        <activity android:name=".StartScreen" />
        <activity android:name=".LectionActivity"
            android:noHistory="true" />
        <activity android:name=".LectionListActivity" />
        <activity android:name=".ClassListActivity" />
        <activity android:name=".TrophyRoomActivity" />
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".AnimationLauncher" />
        <activity android:name=".SettingsActivity" />
    </application>
</manifest>
