<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.foxyourprivacy.f0x1t">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <application
        android:name=".FoxITApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo3"
        android:label="@string/app_name"
        android:minSdkVersion="17"
        android:supportsRtl="true">

        <activity
            android:name=".activities.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="BackgroundService"
            android:icon="@drawable/back"
            android:label="@string/app_name"
            >
        </service>

        <activity
            android:name=".activities.Analysis"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".activities.AnalysisResults"
            android:label="Analyse-Ergebnisse"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".activities.LessonActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBackground" />
        <activity
            android:name=".activities.LessonListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".activities.ClassListActivity"
            android:label="Die Kurse"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWhite" />
        <activity
            android:name=".activities.TrophyRoomActivity"
            android:label="Deine Erfolge und Animationen"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBackground" />
        <activity
            android:name=".activities.OnboardingActivity"
            android:label="Willkommen zu FoxIT!"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBackground" />
        <activity
            android:name=".activities.AnimationLauncher"
            android:label="Lass uns spielen!"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBackground" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Einstellungen"
            android:screenOrientation="portrait"

            android:theme="@style/AppThemeNoBackground" />

    </application>
</manifest>
